<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94856967605-sadosj9e8p3n0ag8an49d8gkuer5cpgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94856967605-sadosj9e8p3n0ag8an49d8gkuer5cpgh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>94856967605-31pmgilggau43f9411jrshk6bv3phu27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDh-n4MfyAU75O22dezsJUAxNMnO1TMBRc</string>
	<key>GCM_SENDER_ID</key>
	<string>94856967605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.overseasgm.test</string>
	<key>PROJECT_ID</key>
	<string>api-project-97991489</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-97991489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94856967605:ios:194717b44f885fcab2d5fc</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-97991489.firebaseio.com</string>
</dict>
</plist>