<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSAdjustConfigurator</key>
	<dict>
		<key>testAdjustEvent</key>
		<dict>
			<key>firstpay</key>
			<string>w3tpzg</string>
			<key>activation</key>
			<string>thsr09</string>
			<key>hotstart</key>
			<string>8n3m29</string>
			<key>hotend</key>
			<string>tzndfi</string>
			<key>stage1_04</key>
			<string>2djeib</string>
			<key>stage5_06</key>
			<string>vau1i4</string>
			<key>stage9_10</key>
			<string>3aflt1</string>
			<key>VIP5</key>
			<string>ikgb9p</string>
			<key>VIP6</key>
			<string>feo5g4</string>
			<key>VIP7</key>
			<string>npehx0</string>
			<key>VIP8</key>
			<string>j047ez</string>
			<key>VIP9</key>
			<string>whedjn</string>
			<key>VIP10</key>
			<string>h1sk0o</string>
			<key>season_card_purchase</key>
			<string>i881hg</string>
			<key>big_month_card_purchase</key>
			<string>ii7jwm</string>
			<key>diamond_fund_purchase</key>
			<string>larr8k</string>
			<key>login_fund_purchase</key>
			<string>h2tj48</string>
			<key>pay_1200</key>
			<string>2bltyg</string>
			<key>pay_2500</key>
			<string>hddxke</string>
			<key>pay_5900</key>
			<string>sa8mh5</string>
			<key>pay_12000</key>
			<string>yq7zmf</string>
			<key>pay_19000</key>
			<string>xi274s</string>
			<key>pay_25000</key>
			<string>5uuzks</string>
			<key>pay_37000</key>
			<string>f7swyl</string>
			<key>pay_65000</key>
			<string>nbviag</string>
			<key>pay_59000</key>
			<string>88xmz8</string>
			<key>pay_119000</key>
			<string>60on59</string>
			<key>ten_even_draw</key>
			<string>2if56b</string>
		</dict>
		<key>adjustEvent</key>
		<dict>
			<key>hotstart</key>
			<string>ptdmgu</string>
			<key>hotend</key>
			<string>eesqwu</string>
			<key>stage1_04</key>
			<string>jpjms3</string>
			<key>stage5_06</key>
			<string>y9ds4b</string>
			<key>stage9_10</key>
			<string>dzgc0u</string>
			<key>VIP5</key>
			<string>odjjcv</string>
			<key>VIP6</key>
			<string>dbklvc</string>
			<key>VIP7</key>
			<string>m5qlgp</string>
			<key>VIP8</key>
			<string>k4rui8</string>
			<key>VIP9</key>
			<string>zg8srk</string>
			<key>VIP10</key>
			<string>wiis6z</string>
			<key>season_card_purchase</key>
			<string>wrrbf0</string>
			<key>big_month_card_purchase</key>
			<string>b6lgau</string>
			<key>diamond_fund_purchase</key>
			<string>ecudvh</string>
			<key>login_fund_purchase</key>
			<string>kpal8s</string>
			<key>pay_1200</key>
			<string>2g0kqv</string>
			<key>pay_2500</key>
			<string>unyjb6</string>
			<key>pay_5900</key>
			<string>uju273</string>
			<key>pay_12000</key>
			<string>ti3b65</string>
			<key>pay_19000</key>
			<string>f0bflk</string>
			<key>pay_25000</key>
			<string>2a6jge</string>
			<key>pay_37000</key>
			<string>td19ja</string>
			<key>pay_65000</key>
			<string>ir4km9</string>
			<key>pay_59000</key>
			<string>bmpwzk</string>
			<key>pay_119000</key>
			<string>h5lq2l</string>
			<key>ten_even_draw</key>
			<string>3coafn</string>
			<key>activation</key>
			<string>98pogi</string>
			<key>firstpay</key>
			<string>eq47g3</string>
		</dict>
		<key>environmentType</key>
		<string>0</string>
		<key>appToken</key>
		<string>99b0l9w2fhmo</string>
		<key>testAppToken</key>
		<string>xlbqmva43sao</string>
	</dict>
	<key>TSGoogleConfigurator</key>
	<dict>
		<key>clientID</key>
		<string>94856967605-sadosj9e8p3n0ag8an49d8gkuer5cpgh.apps.googleusercontent.com</string>
	</dict>
	<key>TSAppsFlyerConfigurator</key>
	<dict>
		<key>appsFlyerDevKey</key>
		<string>sScxy9szUPAYkPkVt645qa</string>
		<key>appleAppID</key>
		<string>1484290084</string>
	</dict>
	<key>TSTwitterConfigurator</key>
	<dict>
		<key>ConsumerKey</key>
		<string>4AIIiBmYkTjjo58zv7yrj1fWz</string>
		<key>consumerSecret</key>
		<string>zRtUMM4JO1tuAjePCZraadPth9OHsnA0BCoa1Cxb5VBVw5K53g</string>
	</dict>
	<key>TSNaverConfigurator</key>
	<dict>
		<key>ConsumerKey</key>
		<string>rvQEs78nYPW46oQuFUrF</string>
		<key>consumerSecret</key>
		<string>vSx3bMESQF</string>
		<key>appName</key>
		<string>으랏차차 히어로</string>
		<key>urlScheme</key>
		<string>KRBattles</string>
	</dict>
	<key>TSLineConfigurator</key>
	<true/>
	<key>TSFacebookConfigurator</key>
	<true/>
</dict>
</plist>
